Why List ? - in a variable we can write only one value but in a list we can write multiple value

In [3]:
fruits = ["apple","mango","pineapple","papaya","banana",25.52,55,"546"]
print(fruits)
print(type(fruits))

['apple', 'mango', 'pineapple', 'papaya', 'banana', 25.52, 55, '546']
<class 'list'>

In [9]:
a = ["iphone","nokia","realme"]
print(a)
print(type(a))


b = ["iphone","nokia",50,80,200,"realme"]
print(b)
print(type(b))

c = ("iphone","nokia",50,80,200,"realme")
print(c)
print(type(c))

d = {"iphone","nokia",50,80,200,"realme"}
print(d)
print(type(d))

['iphone', 'nokia', 'realme']
<class 'list'>
['iphone', 'nokia', 50, 80, 200, 'realme']
<class 'list'>
('iphone', 'nokia', 50, 80, 200, 'realme')
<class 'tuple'>
{'nokia', 80, 50, 'realme', 200, 'iphone'}
<class 'set'>

Lists Slicing

In [15]:
s = ["Ironman","Thor","Captain America","Hulk"]

print(s[2])
print(s[3])
print(s[0:2])
print(s[-3])
print(s[::2])
print(s[1:])
print(s[-3:-1])
print(s[::-1])

Captain America
Hulk
['Ironman', 'Thor']
Thor
['Ironman', 'Captain America']
['Thor', 'Captain America', 'Hulk']
['Thor', 'Captain America']
['Hulk', 'Captain America', 'Thor', 'Ironman']

List Iteration

In [1]:
#iteration using for loop
a = ["Hulk","Thor","Ironman","Captain America"]
for i in a:
    print(i)

Hulk
Thor
Ironman
Captain America

In [4]:
#Iteration using for loop with range and length function
for i in range(len(a)):
    print(a[i])

Hulk
Thor
Ironman
Captain America

In [5]:
#iteration using while loop
i = 0
while i <(len(a)):
    print(a[i])
    i +=1

Hulk
Thor
Ironman
Captain America

List Functionü§óüòí

In [2]:
a = ["Thor", "Hulk","Ironman","Captain America","Hulk"]
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Hulk']

In [8]:
#to find the length of a list
print(len(a))

4

In [15]:
#to count an occurance of a particular element
print(a.count("Hulk"))

2

In [16]:
#to add to the list
a.append("Spider Man ")
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Hulk', 'Spider Man ']

In [28]:
#to add to a specific location
a.insert(1,"vision")
print(a)

['Hulk', 'vision', 'vision', 'vision', 'vision', 'vision', 'vision', 'vision', 'vision', 'Ironman', 'Captain America', 'Hulk', 'Spider Man ']

In [27]:
#to remove from a list
a.remove("vision")
print(a)

a.remove("vision")
print(a)

a.remove("Thor")
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Hulk', 'Spider Man ', 'vision']
['Thor', 'Hulk', 'Ironman', 'Captain America', 'Hulk', 'Spider Man ']
['Hulk', 'Ironman', 'Captain America', 'Hulk', 'Spider Man ']

In [3]:
#to remove from a certain location
print(a.pop(2))
print(a)

Ironman
['Thor', 'Hulk', 'Captain America', 'Hulk']

In [8]:
a = ["Thor","Hulk","Ironman","Captain America"]
b = []
print(b)
b = a.copy()
print(b)

[]
['Thor', 'Hulk', 'Ironman', 'Captain America']

In [9]:
#to access an element
print(a.index("Ironman"))
print(a.index("Captain America"))

2
3

In [10]:
#to extend the list
s = ["Vision","Spider Man"]
a.extend(s)
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Vision', 'Spider Man']

In [11]:
#to reverse the list
a.reverse()
print(a)

['Spider Man', 'Vision', 'Captain America', 'Ironman', 'Hulk', 'Thor']

In [15]:
#to sort the list
a.sort()
print(a)

n = [1,5,6,9,2,3,7,8,4,0]
n.sort()
print(n)
print(type(n))

['Captain America', 'Hulk', 'Ironman', 'Spider Man', 'Thor', 'Vision']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [16]:
#to clear all the data from the list
n.clear()
print(n)

[]

List Comprehensionüòçü§ó

In [24]:
l1 = [30,40,50,60]

l2 = []
for i in l1:
    l2.append(i)
print(l1,"\n",l2)

[30, 40, 50, 60]
 [30, 40, 50, 60]

Problem Solvingüò¥ü´§ü•±

In [34]:
a = ["Ross","Rachel","Monica","joe"]
#write a program to swap first and fouth element
a[0],a[3]=a[3],a[0]
print(a)

['joe', 'Rachel', 'Monica', 'Ross']

In [35]:
#write a program to add a new value at second position
a.insert(1,"Gulam")
print(a)

['joe', 'Gulam', 'Rachel', 'Monica', 'Ross']

In [38]:
#write a program to delete a value from 3rd position
print(a.pop(2))
print(a)

Rachel
['joe', 'Gulam', 'Monica', 'Ross']

In [40]:
b = [13,7,12,10]
#write a program to multiply all the numbers in the list
mul = 1
for i in b:
    mul *= i
print(mul)

10920

In [42]:
#write a program to get the largest number from the list
b = [13,7,12,10]
b.sort()
print(b)
print("The largest value of the list",b[-1])

[7, 10, 12, 13]
The largest value of the list 13

In [50]:
#write a program to get the smallest number from the list
b.sort()
print(b)

print("The sllamest value of the list",b[0])

[7, 10, 12, 13]
The sllamest value of the list 7