In [13]:
a = {"Ironman","Hulk","Thor","Captain America"}
print(a)
print(type(a))

for i in a:
    print(i)

{'Thor', 'Hulk', 'Ironman', 'Captain America'}
<class 'set'>
Thor
Hulk
Ironman
Captain America

Set FunctionsðŸ˜´ðŸ¤—ðŸ˜’

In [37]:
#add
a = {"Ironman","Hulk","Captain America","Thor"}
a.add("Spider Man")
print(a)

{'Thor', 'Ironman', 'Spider Man', 'Captain America', 'Hulk'}

In [32]:
#pop 
a.pop()
print(a)

{'Ironman', 'Spider Man', 'Captain America', 'Hulk'}

In [34]:
#remove
a.remove("Hulk")
print(a)

{'Ironman', 'Spider Man', 'Captain America'}

In [35]:
#discard
a.discard("Ironman")
print(a)

{'Spider Man', 'Captain America'}

In [38]:
#copy
z = a.copy()
print(z)

{'Spider Man', 'Thor', 'Ironman', 'Captain America', 'Hulk'}

In [45]:
a = {"Ironman","Hulk","Thor","Captain America"}
b = {"Superman","Batman","Wonder-Woman"}
c = {"Hulk","Thor"}

In [41]:
#isdisjoint
print(a.isdisjoint(b))
print(a.isdisjoint(c))

True
False

In [48]:
#issubset
print(a.issubset(b))
print(c.issubset(a))

False
True

In [52]:
#issuperset
print(b.issuperset(c))
print(a.issuperset(c))

False
True

In [53]:
#update
a.update(c)
print(a)

{'Thor', 'Ironman', 'Captain America', 'Hulk'}

In [55]:
#clear
print(a.clear())
print(a)

None
set()

In [82]:
a = {"Ironman","Hulk","Thor","Captain America"}
b = {"Superman","Batman","Wonder-Woman"}
c = {"Hulk","Thor","Spider Man"}

In [58]:
#union
print(a.union(c))
print(a.union(b))

{'Spider Man', 'Thor', 'Ironman', 'Captain America', 'Hulk'}
{'Superman', 'Thor', 'Ironman', 'Captain America', 'Wonder-Woman', 'Hulk', 'Batman'}

In [59]:
#difference
print(a.difference(c))

{'Ironman', 'Captain America'}

In [61]:
#difference update
a.difference_update(c)
print(a)

{'Ironman', 'Captain America'}

In [65]:
#intersection(print commo value)
x = (a.intersection(c))
print(x)

{'Hulk', 'Thor'}

In [67]:
#intersection update(print common value)
a.intersection_update(c)
print(a)

{'Thor', 'Hulk'}

In [79]:
#symetric difference(ignore common value)
s = a.symmetric_difference(b)
print(s)
z = a.symmetric_difference(c)
print(z)

{'Thor', 'Wonder-Woman', 'Ironman', 'Superman', 'Captain America', 'Hulk', 'Batman'}
{'Spider Man', 'Ironman', 'Captain America'}

In [85]:
#symetric difference update
a.symmetric_difference_update(c)
print(a)

{'Ironman', 'Spider Man', 'Captain America'}

Problem SolvingðŸ˜´ðŸ˜´ðŸ˜’

In [88]:
#write a program to find max and min in a set
a = {12,45,30,99,1,11}
maximum = max(a)
minimum = min(a)
print ("The maximum value in the set is :", maximum)
print("The minimum value in the set is :", minimum)

The maximum value in the set is : 99
The minimum value in the set is : 1

In [96]:
#write a program to find common elements in three lists using sets
a = [1,5,6,8,2,3]
b = [4,3,5,6,7]
c = [1,9,6,2,3,5]
print("The common elements in the given three lists are :- ",set(a) & set(b) & set(c))

The common elements in the given three lists are :-  {3, 5, 6}

In [97]:
#write a program to find difference between two sets
a = {1,5,6,8,2}
b = {1,9,6,2,5}
print(a.difference(b))

{8}

In [102]:
#write a python program to remove an item from a set if it is present in the set
a = {1,5,6,8,2}
a.discard(2)
print(a)

{1, 5, 6, 8}

In [104]:
#write a python program to check if a set is a subset of another set
a = {1,2,3,4,5,6}
b = {2,3,4}
print(a.issubset(b))
print(b.issubset(a))

False
True